/***
Stylesheet for the FishPathogen.eu sequence matching tool.
***/

body {
	font: Times;
}

label { 
	display: block;
	font-weight: bold;
}

p.description {
	font-style: italic;
}

p.helptext {
	font-style: italic;
}

hr.form_divider {
	border: 5px solid green;
}
